<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/head", {cssSheet: "newProduct" , title: "Añadir nuevo producto/servicio" }) %>
</head>
<body>
    <header>
        <%- include("../partials/header") %>
    </header>
    <main>
        <h1>Completa el siguiente formulario para agregar un nuevo producto/servicio a su sitio</h1>
        <form action="/newProduct" method="post" class="formulario" enctype="multipart/form-data">
            <% if(successful){%>
                    <span class="validation-success" id="mensaje-satisfactorio">
                        <i class="fas fa-check-circle"></i>
                        <p>¡El producto se agregó con exito!</p>
                    </span>
                 <%} else if (successful != null){%>
                    <span class="validation-warning" id="mensaje-satisfactorio">
                        <i class="fas fa-exclamation-triangle"></i>
                        <p>No se puede agregar el nuevo producto, revise los campos del formulario</p>
                    </span>
                 <%}%>
            <div class="seccion-formulario">
                <label>Seleccione o suba una imagen/ícono que identifique al producto:</label>
                <input type="file" name="image">
            </div>
            <% if(locals.errors && errors.image){%>
                    <span class="validation-error">
                        <i class="fas fa-exclamation-circle"></i>
                        <%= errors.image.msg %>
                    </span>
                 <%}%>
            <div class="seccion-formulario">
                <label>Escriba el nombre del producto:</label>
                <input type="text" name="name" id="nombre-producto" value="<%= locals.oldData ? oldData.name : null %>" <%- locals.errors && errors.name ? 'class="input-error"' : null %>>
            </div>
            <% if(locals.errors && errors.name){%>
                    <span class="validation-error">
                        <i class="fas fa-exclamation-circle"></i>
                        <%= errors.name.msg %>
                    </span>
                 <%}%>
            <div class="seccion-formulario">
                <label>Escriba una descripción acerca del producto:</label>
                <textarea name="description" id="descripcion-producto" cols="50" rows="2" required <%- locals.errors && errors.description ? 'class="input-error"' : null %> : null %>"><%= locals.oldData ? oldData.description : null %></textarea>
            </div>
            <% if(locals.errors && errors.description){%>
                    <span class="validation-error">
                        <i class="fas fa-exclamation-circle"></i>
                        <%= errors.description.msg %>
                    </span>
                 <%}%>
            <div class="seccion-formulario">
                <label>Seleccione la categoria del producto:</label>
                <select name="category" id="categoria" <%- locals.errors && errors.category ? 'class="input-error"' : null %>>
                    <option value="">Elegí una categoria</option>
                    <% let categories=['Cable', 'Internet', 'Paquetes', 'Aplicaciones']; %>
                    <% for (const oneCategory of categories) { %>
                        <option value="<%= oneCategory %>" <%=locals.oldData && (oneCategory===oldData.category) ? 'selected' : null %> > <%= oneCategory %> </option>
                        <% } %>
                </select>
            </div>
            <% if(locals.errors && errors.category){%>
                    <span class="validation-error">
                        <i class="fas fa-exclamation-circle"></i>
                        <%= errors.category.msg %>
                    </span>
                 <%}%>
            <div class="seccion-formulario">
                <label>Escriba el precio del producto:</label>
                <input type="number" name="price" id="precio" min="1" value="<%= locals.oldData ? oldData.price : null %>" <%- locals.errors && errors.price ? 'class="input-error"' : null %>>
            </div>
            <% if(locals.errors && errors.price){%>
                    <span class="validation-error">
                        <i class="fas fa-exclamation-circle"></i>
                        <%= errors.price.msg %>
                    </span>
                 <%}%>
            <div class="seccion-formulario">
                <p>¿El nuevo producto va a tener descuento?:</p>
                <div class="opciones-radio">
                    <label>Si</label>
                    <input type="radio" name="offer" id="yes" value="true" <%=locals.oldData && (oldData.offer==="true") ? 'checked' : null %>>
                </div>
                <div class="opciones-radio">
                    <label>No</label>
                    <input type="radio" name="offer" id="no" value="false" <%=locals.oldData && (oldData.offer==="false") ? 'checked' : null %>>
                </div>
                <label>Escriba porcentaje del descuento:</label>
                <input type="number" name="discount" id="descuento" min="0" max="100" <%- locals.errors && errors.offer ? 'class="input-error"' : null %> value="<%= locals.oldData ? oldData.discount : null %>">
            </div>
            <% if(locals.errors && errors.offer){%>
                    <span class="validation-error">
                        <i class="fas fa-exclamation-circle"></i>
                        <%= errors.offer.msg %>
                    </span>
                 <%}%>
            <div class="botones">
                <div class="boton-guardar">
                    <button type="submit">Añadir producto</button>
                </div>
        </form>
    </main>
    <footer>
        <%- include("../partials/footer") %>
    </footer>
    <script src="/js/productNewUpdate.js"></script>
</body>

</html>