<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/head", {cssSheet: "productList" , title: "Servicios" }) %>
</head>
<body>
    <header>
        <%- include("../partials/header") %>
    </header>
    <main>
        <h2>Armá tu paquete</h2>
        <section class="cable">
            <h3>Cable</h3>
            <div class="servicio-seleccion">
                <% cable.forEach(producto => { %>
                <div class='bloque'>
                    <img src="/images/products/<%= producto.image %>" alt="<%= producto.name %>">
                    <p><%= producto.name %></p>
                    <ul class="detalle-servicio">
                        <% producto.description.split(';').map(function(parrafo) { %>
                            <li><%= parrafo %></li>
                        <% }) %>
                        <div class="precio">
                            <p class="price">Precio: <% if(producto.offer == 1) { %>
                            <del>$<%= producto.price %></del><i class="discount"><%= producto.discount %>%</i> <strong>$<%= Math.floor(producto.price * (100 - producto.discount) / 100).toLocaleString(undefined, {minimumFractionDigits: 0}) %>/mes</strong></p>
                            <% } else { %>
                                <strong>$<%= producto.price.toLocaleString(undefined, {minimumFractionDigits: 0}) %>/mes</strong></p>
                            <% } %>
                        </div>
                        <% if(locals.isLogged && locals.userLogged.role === 'admin') { %>
                        <a href="/<%= producto.id %>/edit">
                        <div class="modificar">
                            <i class="fas fa-edit"></i>
                            <p>Modificar servicio</p>
                        </div>
                        </a>
                        <a href="/<%= producto.id %>/delete">
                            <div class="eliminar">
                                <i class="fas fa-trash"></i>
                                <p>Eliminar servicio</p>
                            </div>
                        </a>
                        <% } %>
                    </ul>
                </div>
                <% }) %>
                <div class="bloque anular">
                    <i class="fas fa-ban"></i>
                    <p>Anular</p>
                </div>
            </div>
        </section>
        <section class="internet">
            <h3>Internet</h3>
            <div class="servicio-seleccion">
                <% internet.forEach(producto => { %>
                <div class='bloque'>
                    <img src="/images/products/<%= producto.image %>" alt="<%= producto.name %>">
                    <p><%= producto.name %></p>
                    <ul class="detalle-servicio">
                        <% producto.description.split(';').map(function(parrafo) { %>
                            <li><%= parrafo %></li>
                        <% }) %>
                        <div class="precio">
                            <p class="price">Precio: <% if(producto.offer == 1) { %>
                            <del>$<%= producto.price %></del><i class="discount"><%= producto.discount %>%</i> <strong>$<%= Math.floor(producto.price * (100 - producto.discount) / 100).toLocaleString(undefined, {minimumFractionDigits: 0}) %>/mes</strong></p>
                            <% } else { %>
                                <strong>$<%= producto.price.toLocaleString(undefined, {minimumFractionDigits: 0}) %>/mes</strong></p>
                            <% } %>
                        </div>
                        <% if(locals.isLogged && locals.userLogged.role === 'admin') { %>
                        <a href="/<%= producto.id %>/edit">
                        <div class="modificar">
                            <i class="fas fa-edit"></i>
                            <p>Modificar servicio</p>
                        </div>
                        </a>
                        <a href="/<%= producto.id %>/delete">
                            <div class="eliminar">
                                <i class="fas fa-trash"></i>
                                <p>Eliminar servicio</p>
                            </div>
                        </a>
                        <% } %>
                    </ul>
                </div>
                <% }) %>
                <div class="bloque anular">
                    <i class="fas fa-ban"></i>
                    <p>Anular</p>
                </div>
            </div>
        </section>
        <section class="paquetes">
            <h3>Paquetes</h3>
            <div class="servicio-seleccion">
                <% paquetes.forEach(producto => { %>
                <div class='bloque'>
                    <img src="/images/products/<%= producto.image %>" alt="<%= producto.name %>">
                    <p><%= producto.name %></p>
                    <ul class="detalle-servicio">
                        <% producto.description.split(';').map(function(parrafo) { %>
                            <li><%= parrafo %></li>
                        <% }) %>
                        <div class="precio">
                            <p class="price">Precio: <% if(producto.offer == 1) { %>
                            <del>$<%= producto.price %></del><i class="discount"><%= producto.discount %>%</i> <strong>$<%= Math.floor(producto.price * (100 - producto.discount) / 100).toLocaleString(undefined, {minimumFractionDigits: 0}) %>/mes</strong></p>
                            <% } else { %>
                                <strong>$<%= producto.price.toLocaleString(undefined, {minimumFractionDigits: 0}) %>/mes</strong></p>
                            <% } %>
                        </div>
                        <% if(locals.isLogged && locals.userLogged.role === 'admin') { %>
                        <a href="/<%= producto.id %>/edit">
                        <div class="modificar">
                            <i class="fas fa-edit"></i>
                            <p>Modificar servicio</p>
                        </div>
                        </a>
                        <a href="/<%= producto.id %>/delete">
                            <div class="eliminar">
                                <i class="fas fa-trash"></i>
                                <p>Eliminar servicio</p>
                            </div>
                        </a>
                        <% } %>
                    </ul>
                </div>
                <% }) %>
                <div class="bloque anular">
                    <i class="fas fa-ban"></i>
                    <p>Anular</p>
                </div>
            </div>
        </section>
        <section class="aplicaciones">
            <h3>Aplicaciones</h3>
            <div class="servicio-seleccion">
                <% aplicaciones.forEach(producto => { %>
                <div class='bloque'>
                    <img src="/images/products/<%= producto.image %>" alt="<%= producto.name %>">
                    <p><%= producto.name %></p>
                    <ul class="detalle-servicio">
                        <% producto.description.split(';').map(function(parrafo) { %>
                            <li><%= parrafo %></li>
                        <% }) %>
                        <div class="precio">
                            <p class="price">Precio: <% if(producto.offer == 1) { %>
                            <del>$<%= producto.price %></del><i class="discount"><%= producto.discount %>%</i> <strong>$<%= Math.floor(producto.price * (100 - producto.discount) / 100).toLocaleString(undefined, {minimumFractionDigits: 0}) %>/mes</strong></p>
                            <% } else { %>
                                <strong>$<%= producto.price.toLocaleString(undefined, {minimumFractionDigits: 0}) %>/mes</strong></p>
                            <% } %>
                        </div>
                        <% if(locals.isLogged && locals.userLogged.role === 'admin') { %>
                        <a href="/<%= producto.id %>/edit">
                        <div class="modificar">
                            <i class="fas fa-edit"></i>
                            <p>Modificar servicio</p>
                        </div>
                        </a>
                        <a href="/<%= producto.id %>/delete">
                            <div class="eliminar">
                                <i class="fas fa-trash"></i>
                                <p>Eliminar servicio</p>
                            </div>
                        </a>
                        <% } %>
                    </ul>
                </div>
                <% }) %>
                <div class="bloque anular">
                    <i class="fas fa-ban"></i>
                    <p>Anular</p>
                </div>
            </div>
        </section>
        <div>
            <a href="/productCart" id="servicio-a-contratar">Haz click aquí para ver tus servicios a contratar</a>
        </div>
    </main>
    <footer>
        <%- include("../partials/footer") %>
    </footer>
</body>
</html>