<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/head", {cssSheet: "newProduct" , title: "Modificar producto/servicio" }) %>
</head>

<body>
    <header>
        <%- include("../partials/header") %>
    </header>
    <main>
        <h1>Modifique el siguiente formulario del producto/servicio seleccionado</h1>
        <form action="/<%= servicioFiltrado.id%>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="seccion-formulario">
                <label>Seleccione o suba una imagen/ícono que identifique al producto:</label>
                <input type="file" name="image">
            </div>
            <div class="seccion-formulario">
                <label>Nuevo nombre del producto:</label>
                <input type="text" name="name" id="nombre-producto" value="<%= servicioFiltrado.name%>" required>
            </div>
            <div class="seccion-formulario">
                <label>Nueva descripción acerca del producto:</label>
                <textarea name="description" id="descripcion-producto" cols="50" rows="2" required> value="<%= servicioFiltrado.description%>"</textarea>
            </div>
            <div class="seccion-formulario">
                <label>Seleccione la categoria del producto:</label>
                <select name="category" id="categoria" required>
                    <% let categories=['Cable', 'Internet' , 'Paquetes' , 'Aplicaciones']; %>
                    <% for (const oneCategory of categories) { %>
                        <option value="<%= oneCategory %>" <%= (oneCategory === servicioFiltrado.category) ? 'selected' : null %> > <%= oneCategory %> </option>
                        <% } %>
                </select>
            </div>
            <div class="seccion-formulario">
                <label>Escriba nuevo precio del producto:</label>
                <input type="number" name="price" id="precio" required value="<%= servicioFiltrado.price%>">
            </div>
            <div class="seccion-formulario">
                <p>¿Quiere agregar un descuento al producto?:</p>
                <div class="opciones-radio">
                    <label>Si</label>
                    <input type="radio" name="haveDiscount" value="true" id="true" checked>
                </div>
                <div class="opciones-radio">
                    <label>No</label>
                    <input type="radio" name="haveDiscount" value="false" id="false">
                </div>
                <label>Escriba porcentaje del descuento:</label>
                <input type="number" name="discount" id="descuento" min="0" max="100" value="<%= servicioFiltrado.discount%>">
            </div>
            <div class="botones">
                <div class="boton-guardar">
                    <button type="submit">Modificar producto</button>
                </div>
        </form>
    </main>
    <footer>
        <%- include("../partials/footer") %>
    </footer>
</body>

</html>