<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/head", {cssSheet: "register", title: "Cambiar contraseña"}) %>
</head>
<body>
    <header>
        <%- include("../partials/header") %>
    </header>
    <main>
        <div class="main">
        <label><h2>Acá podés cambiar tu contraseña</h2></label>
        <form action="/profile/changePassword?_method=PUT" method="post" class="register">
            <% if(successful){%>
                    <span class="validation-success" id="mensaje-satisfactorio">
                        <i class="fas fa-check-circle"></i>
                        <p>¡La contraseña ha sido actualizada, inicie sesión con su contraseña nueva!</p>
                    </span>
                 <%} else if (successful != null){%>
                    <span class="validation-warning" id="mensaje-error">
                        <i class="fas fa-exclamation-triangle"></i>
                        <p>Se han encontrado errores en el formulario, revise los mensajes debajo de los campos</p>
                    </span>
                 <%}%>
            <nav class="password-inputs">
                <!--INPUT DE CONTRASEÑA ANTERIOR-->
                <div class="contra">
                    <label>Escriba su antigua contraseña:</label>
                    <input type="password" name="oldPassword" id="oldPassword" required
                        class="<%- locals.errors && errors.password ? 'input-error' : null %>">
                </div>
                <!--INPUT DE CONTRASEÑA NUEVA-->
                <div class="contra">
                    <label>Escriba su nueva contraseña:</label>
                    <input type="password" name="password" id="password" required class="<%- locals.errors && errors.password ? 'input-error' : null %>">
                    <div id="passwordValidation"></div>
                </div>
                <!--INPUT DE CONFIRMAR CONTRASEÑA-->
                <div class="contra">
                    <label>Confirmar contraseña:</label>
                    <input type="password" name="confirm_password" id="confirm_password" required class="<%- locals.errors && errors.password ? 'input-error' : null %>">
                    <div id="confirmPasswordValidation"></div>
                    <% if(locals.errors && errors.password){%>
                    <span class="validation-error" id="confirmPasswordError">
                        <i class="fas fa-exclamation-circle"></i>
                        <%= errors.password.msg %>
                    </span>
                 <%}%>
                </div>
            </nav>
            <!--BOTONES-->
                <div class="botones">
                <div class="boton">
                    <button type="submit">Editar contraseña</button>
                </div>
                <div class="boton-borrar">
                    <button type="reset"> Borrar</button>
                </div>
                </div>
                </div>
        </form>
    </div>
    </div>
    </main>
    <footer>
        <%- include("../partials/footer") %>
    </footer>
    <script src="/js/passwordValidation.js"></script>
</body>
</html>