<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <%- include("../partials/head", {cssSheet: "login", title: "Login"}) %>
</head>
<body>
    <header>
        <%- include("../partials/header") %>
    </header>
        <main>
            <div class="main">
            <h2>¡Inicia sesión para avanzar con tu pedido!</h2>
                <form action="/login" method="post" class="login">
                <!-- INPUTS -->
                <nav>
                <div class="correo">
                    <label>Correo eléctronico:</label>
                    <input type="email" name="email" required minlength="8" value="<%= locals.oldData ? oldData.email : null %>" class="<%- locals.errors && (errors.email || errors.password) ? 'input-error' : null %>">
                </div>
                <% if(locals.errors && errors.email){%>
                    <span class="validation-error">
                        <i class="fas fa-exclamation-circle"></i>
                        <%= errors.email.msg %>
                    </span>
                 <%}%>
                <div class="contra">
                    <label>Contraseña:</label>
                    <input type="password" name="password" class="<%= locals.errors && errors.password ? 'input-error' : null %>" required>
                </div>
                <% if(typeof(errors) != 'undefined' && errors.password){%>
                    <span class="validation-error">
                        <i class="fas fa-exclamation-circle"></i>
                        <%= errors.password.msg %>
                    </span>
                 <%}%>
                </nav>
                <!-- BOTONES -->
                <div class="recordar">
                    <label for="remember_user">¿Desea mantener la sesión abierta?</label>
                    <input type="checkbox" name="remember_user" id="recordar">
                </div>
                <div class="botones">
                <div class="boton-iniciar">
                    <button type="submit">Iniciar sesión</button>
                </div>
                <div class="link-olvidaste">
                    <a href="#">¿Olvistaste tu contraseña?</a>
                </div>
                <div class="link-registrate">
                    <a href="register">Registrate con nosotros</a>
                </div>
                </div>
                </form></div>
        </main>
        <footer>
        <%- include("../partials/footer") %>
    </footer>
</body>
</html>