<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/head", {cssSheet: "register", title: "Perfil"}) %>
</head>
<body>
    <header>
        <%- include("../partials/header") %>
    </header>
    <main>
        <div class="main">
        <label><h2>¡Bienvenid@ <%= user.first_name %> <%= user.last_name %></h2></label>
        <% if(locals.userLogged.image != null){ %>
                                <img src="/images/avatars/<%=locals.userLogged.image%>" alt="Imagen de perfil" class="avatar">
                            <% } else { %>
                            <i class="fas fa-user avatar"></i>
                            <% } %>
            <nav class="profile">
                <ul class="nav-izq-der">
                <li><div class = 'nombre'>
                    <p>Nombre: <strong><%= user.first_name %></strong><p>
                </div></li>

                <li><div class="apellido">
                    <p>Apellido: <strong><%= user.last_name %></strong><p>
                </div></li>
                
                <li><div class = 'dom'>
                    <p>Domicilio: <strong><%= user.address %></strong></p>  
                </div></li>

                <li><div class="correo">
                    <p>Correo eléctronico: <strong><%= user.email %></strong></p>

                </div></li>
                </ul>

                <ul class="nav-izq-der">
                <li><div class ='dni'>    
                    <p>DNI: <strong><%= user.DNI %></strong></p>
                </div></li>
                
                <li><div class="fecha">
                <label>Fecha de nacimiento: <strong><%= user.birth_date %></strong></label>
                </div></li>

                <li><div class="sexo">
                    <p>Sexo: <strong><%= user.gender %></strong></p>
                </div></li>

                <li><div class="contra">
                    <p>Servicios vigentes: <strong>XX</strong></p>
                </div></li>
                </ul>
            </nav>

                <div class = 'notificacion'>
                    <label for="notificaciones">Acepto recibir notificaciones de actualizaciones y promociones a mi correo</label>
                    <input type="checkbox" name="notificaciones" <%- (user.notifications == 1 || user.notifications == "true") ? 'checked' : null %>>                    
                </div>

                <div class="botones-perfil">
                <a href="/profile/editar">
                    <div class="boton-perfil">
                    <button type="submit">Editar perfil</button>
                </div>
                </a>

                <a href="/profile/editPassword">
                    <div class="boton-perfil">
                    <button type="submit">Cambiar contraseña</button>
                </div>
                </a>

                <a href="/profile/delete">
                    <div class="boton-perfil-borrar">
                    <button type="reset"> Eliminar cuenta</button>
                </div>
                </a>
                </div>
                </div>
        </form>
    </div>
    </div>
    </main>
    <footer>
        <%- include("../partials/footer") %>
    </footer>
</body>
</html>